.inputWrap {
    margin: 8px 0px;
    display: flex;
    position: relative;
    align-items: center;

    .input {
        flex-grow: 1;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .status {
        position: absolute;
        right: 8px;
        font-size: 10px;
        cursor: help;
    }
}